
.root{
	-fx-background-color: #626363;
}

#login_button{
	-fx-background-color:  #626363;
	-fx-background-radius: 15px;
	-fx-border-color:  #e1e687;
	-fx-border-radius:  15px;
}

.icon_button{
	-fx-background-radius: 15px;
	-fx-background-color: transparent;
	-fx-border-radius: 15px;
}
.icon_button:hover {
	-fx-background-color: #bfbfbf;
}
