.tab{
	-fx-pref-width: 200;
	-fx-pref-height: 40;
}
.tab-header-background{
	-fx-background-color: #3D3A3A;
	/*#4f8aff*/
	
}

.black-pane{
	-fx-background-color: #3D3A3A;
}

/* TABLE VIEW */
	.table-view{
		-fx-background-color: transparent;
	}
	.table-view .column-header-background{
		-fx-background-color: #424141;
	}
	.table-view .column-header{
		-fx-background-color: transparent;
	}
	
	
	.table-view .column-header-background .label{
		-fx-background-color: transparent;
		-fx-text-fill: white;
		-fx-font-size: 16px;
	}
	.table-view .table-cell{
		-fx-text-fill: white;
		-fx-font-size: 15px
	}
	.table-row-cell{
		-fx-background-color: -fx-table-cell-border-color, #616161;
		-fx-background-insets: 0, 1 1 1 1;
		-fx-padding: 0em;
	}
	.table-row-cell:odd{
		-fx-background-color: -fx-table-cell-border-color, #424242;
    	-fx-background-insets: 0, 1 1 1 0;
    	-fx-padding: 0.0em; /* 0 */  
	}
	.table-row-cell:selected {
	    -fx-background-color: #7198f5;
	    -fx-background-insets: 0;
	    -fx-background-radius: 1;
	}
	.table-view .filler{
		-fx-background-color: transparent;
		-fx-text-fill: white;
	}
/* ========================================================================== */

/* BUTTON */
	.button-normal{
		-fx-background-color: #c7c7c7;
		-fx-text-fill:#6b6b6b;
	}
/* ========================================================================== */

/* JFXComboBox */
	.jfx-combo-box{
		-fx-font-size: 15px;
		-fx-border-color: #ebebeb;
		-fx-border-width: 1;
	 	/*-fx-border-style: segments(10, 15, 15, 15)  line-cap round ;*/
	}

	.jfx-combo-box .cell{
		-fx-text-fill: #424242;
		-fx-background-color: #ebebeb;
	}
	
	.jfx-combo-box .cell:hover{
		-fx-background-color: #b5b5b5;
		-fx-text-fill: #7a7a7a;
	}
/* ========================================================================== */

.jfx-radio-button {
    -fx-selected-color: yellow;
    -fx-unselected-color: blue;
}

.date-picker .text-field{
	-fx-text-fill: WHITE;
}